name: Assign Reviewers via CLI

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  assign-reviewers:
    runs-on: ubuntu-latest
    steps:
      - name: Assign reviewers
        run: |
          gh pr edit ${{ github.event.pull_request.number }} \
            --add-reviewer "Jaeho Choi" \
            --add-reviewer "Choi_minjun" \
            --add-reviewer "asksa1256" \
            --add-reviewer "htak0601" \
            --add-reviewer "dongwonnn"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

