@import 'tailwindcss';

@theme {
  /* breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1280px;

  /* colors */
  --color-black: #1b1b1b;
  --color-white: #fff;

  --color-gray-100: #fafafa;
  --color-gray-200: #eee;
  --color-gray-300: #ddd;
  --color-gray-400: #cbc9cf;
  --color-gray-500: #adae88;
  --color-gray-600: #a4a1aa;
  --color-gray-700: #79747e;
  --color-gray-800: #4b4b4b;

  --color-primary: #0b3bed;
  --color-primary-light: #ced8d5;
  --color-primary-dark: #112211; /* nomad black */

  --color-red-primary: #ff472e;
  --color-red-secondary: #ffc2ba;
  --color-red-light: #ffe4e0;

  --color-green: #00ac07;

  --color-orange: #ff7c1d;
  --color-orange-light: #fff4e8;

  --color-yellow: #ffc23d;

  --color-blue-primary: #0085ff;
  --color-blue-secondary: #2eb4ff;
  --color-blue-light: #e5f3ff;

  /* font-size */
  --text-3xl: 32px;
  --text-3xl--line-height: 42px;
  --text-2xl: 24px;
  --text-2xl--line-height: 32px;
  --text-xl: 20px;
  --text-xl--line-height: 32px;
  --text-lg: 18px;
  --text-lg--line-height: 26px;
  --text-base: 16px;
  --text-base--line-height: 26px;
  --text-md: 14px;
  --text-md--line-height: 24px;
  --text-sm: 13px;
  --text-sm--line-height: 22px;
  --text-xs: 12px;
  --text-xs--line-height: 18px;
  --text-xs-tight: 12px;
  --text-xs-tight--line-height: 18px;
}

/* reset */
@layer base {
  body {
    @apply text-gray-800;
  }

  button {
    @apply cursor-pointer disabled:cursor-not-allowed;
  }
}
